<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>#</key>
				<string>016</string>
				<key>Comment</key>
				<string>itlwm Disabler - 10-14</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SXRsTmV0d29ya1VzZXJDbGllbnQ=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>MatchOS</key>
				<string>10.x,11.x,12.x,13.x,14.x</string>
				<key>Name</key>
				<string>com.zxystd.itlwm</string>
				<key>Replace</key>
				<data>
				dG5laWxDcmVzVWtyb3d0ZU5sdEk=
				</data>
			</dict>
			<dict>
				<key>#</key>
				<string>017</string>
				<key>Comment</key>
				<string>Atheros40 Disabler - 12-26</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QWlyUG9ydF9BdGhlcm9zTmV3bWE0MA==
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>MatchOS</key>
				<string>12.x,13.x,14.x,15.x,26.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Replace</key>
				<data>
				MDRhbXdlTnNvcmVodEFfdHJvUHJpQQ==
				</data>
			</dict>
			<dict>
				<key>#</key>
				<string>018</string>
				<key>Comment</key>
				<string>VoodooPS2Keyboard Disabler - 26</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QXBwbGVQUzJLZXlib2FyZA==
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>MatchOS</key>
				<string>26.x</string>
				<key>Name</key>
				<string>as.acidanthera.voodoo.driver.PS2Keyboard</string>
				<key>Replace</key>
				<data>
				ZHJhb2J5ZUsyU1BlbHBwQQ==
				</data>
			</dict>
			<dict>
				<key>#</key>
				<string>018</string>
				<key>Comment</key>
				<string>Disable Bluetooth</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SU9CbHVldG9vdGhIQ0lDb250cm9sbGVy
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>MatchOS</key>
				<string>15.x,26.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOBluetoothFamily</string>
				<key>Replace</key>
				<data>
				SXhCbHVldG9vdGhIQ0lDb250cm9sbGVy
				</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
